// 1. Cargamos tu arquitectura PRIMERO (para evitar el error)
@use "../styles/variables" as vars;
@use "../styles/utils/mixins" as mx;
@use "../styles/base/reset";
@use "../styles/layout/global-layout";
@use "../styles/layout/header";
@use "../styles/pages/home";
@use "../styles/components/cards";
@use "../styles/components/avatar";
@use "../styles/components/map";
@use "../styles/pages/login";
@use "../styles/pages/admin";
@use "../styles/pages/explore";
@use "../styles/pages/buscar";
@use "../styles/pages/profile";

// 2. Plugins externos (después de los @use)
@import "mapbox-gl/dist/mapbox-gl.css";

// 3. Utilidades finales
.scrollbar-hide {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}